.layout--left {
  float: left;
  border: 0;
}

.layout--right {
  float: right;
}

.layout--top {
  vertical-align: top;
}

.layout--relative {
  position: relative;
}

.layout--fullheight {
  height: 100vh;
  overflow-y: scroll;
}

.layout--flex {
  display: flex;
  align-items: center;
}

.list--inline {
  li {
    display: inline-block;
  }
}

ol {
  list-style-type: decimal;
  margin-left: 1.6rem;
}

.cf {
  @extend %clearfix;
}
