@import 'sass-includes';

.backgroundcliptext {
  .hero.index-content h1 {
    @extend %gradient-text;
    background: linear-gradient(45deg, $redshift, $cranberry);
    z-index: 35;
    position: relative;
    width: 70vw;
    @include breakpoint($mobile-lg) {
      width: 90vw;
    }
    @include breakpoint($mobile-sm) {
      font-size: 3.8rem;
    }
  }

  .hero.about h1 {
    color: $white;
  }

  .nav__menu li a {
    &:hover {
      @extend %gradient-text;
      background: linear-gradient(45deg, $redshift, $cranberry);
    }
  }
}

.case-scroll-icon {
  position: fixed;
  z-index: 10;
  bottom: 2.8rem;
  font-size: 5.8rem;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  left: 7.5rem;
  // media queries
  @include breakpoint($mobile-lg) {
    left: 2rem;
  }
}
