@import 'sass-includes';

.scroll--target {
  position: absolute;
  width: 100%;
  top: 0;
}

.backgroundcliptext {
  .hero.index-content h1 {
    @extend %gradient-text;
    @include redshift-gradient();
    z-index: 35;
    position: relative;
    width: 70vw;

    @include breakpoint($mobile-lg) {
      width: 90vw;
    }
    @include breakpoint($mobile-sm) {
      font-size: 3.8rem;
    }
  }

  .hero.about h1 {
    color: $white;
  }

  .nav__menu li a {
    &:hover {
      @extend %gradient-text;
      @include redshift-gradient();
    }
  }
}

.case-scroll-icon {
  position: fixed;
  z-index: 0;
  bottom: 2.8rem;
  font-size: 5.8rem;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  left: 7.5rem;
  cursor: pointer;
  // media queries
  @include breakpoint($mobile-lg) {
    left: 2rem;
  }
}

.work-title {
  color: $white;
  opacity: 1;
  position: fixed !important;
  top: 0;
}

.work-anchor {
  margin-top: 20%;
  // media queries
  @include breakpoint($mobile-lg) {
    margin-top: 65%;
  }
}

.index .icon-arrow-right-short {
  font-size: 6.2rem;
  position: relative;
  top: 2.8rem;
  line-height: 90%;
}

.index section {
  position: relative;
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    clip: auto;
    -webkit-mask-image: -webkit-linear-gradient(top, #FFFFFF 0%,#FFFFFF 100%)
  }
}

.homepage-scene--image {
  width: 100%;
  height: 100%;
  // display: block;
}

.homepage--scene-text {
  // position: relative;
  // width: 100%;

  h5 {
    font-size: 1.8rem;
  }
  // media queries
  @include breakpoint($tablet-lg) {
    h2 {
      font-size: 3.2rem;
    }
  }
  @include breakpoint($mobile-sm) {
    h2 {
      font-size: 3rem;
    }
  }
}

.homepage--scene-text .arrow {
  // media queries
  @include breakpoint($mobile-sm) {
    position: relative;
    top: 0.2rem;
    width: 5rem;
    height: auto;
  }
}

.home-section {
  padding-top: 140%;
}

.index-content {
  .scene {
    padding-left: 0;
    padding-right: 0;
    width: 85%;
    @include breakpoint($desktop-lg) {
      width: 100%;
    }
    @include breakpoint($mobile-lg) {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.hero {
  height: 100vh;

  .hero--scene-text {
    position: relative;
    width: 100%;
    height: 100%;
    color: $redshift;
    z-index: 10;
  }

  .scene-container {
    height: 100%;
    width: 100%;
  }
}

.scene-container {
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  clip: rect(0, auto, auto, 0);
}

.scene {
  position: fixed;
  width: calc(100% - 9rem);
  padding-left: 5rem;
  padding-right: 14rem;
  top: 50%;
  transform: translateY(-50%);

  @include breakpoint($desktop-sm) {
    padding-right: 6rem;
  }

  @include breakpoint($tablet-sm) {
    padding-left: 3rem;
    padding-right: 3rem;
    width: calc(100% - 6rem);
  }

  @include breakpoint($mobile-lg) {
    opacity: 1 !important;
    top: 94%;
    transform: translateY(-94%);
  }

  @include breakpoint($mobile-sm) {
    display: block;
    padding-left: 0;
    padding-right: 0;
    // bottom: 3rem;
  }
}

@supports (-ms-ime-align:auto) {
  .home-section .scene {
    position: absolute !important;
    top: -100rem !important;
  }
}

.scene-target {
  top: 0;
  position: absolute;
  height: 0;
  width: 50%;
}

.home-yumavore {
  // media queries
  @include breakpoint($mobile-sm) {
    padding-top: 527.53%;
  }

  // .page-title {
  //   position: fixed;
  //   top: 0;
  //   z-index: 9;
  //   color: $white !important;
  //   display: none;
  //   opacity: 1 !important;
  // }

  .scene-target {
    margin-top: 47.3%;
    // MEDIA QUERIES
    @include breakpoint($desktop-sm) {
      margin-top: 40%;
    }
    @include breakpoint($tablet-lg) {
      margin-top: 1%;
    }
  }

  .homepage--scene-text {
    // media queries
    @include breakpoint($mobile-lg) {
      bottom: 38%;
    }
  }
}

.home-norton {
  // media queries
  @include breakpoint($mobile-sm) {
    padding-top: 423.73%;
  }

  .scene-target {
    margin-top: 20%;
    // MEDIA QUERIES
    @include breakpoint($tablet-lg) {
      margin-top: 1%;
    }
    @include breakpoint($mobile-lg) {
      margin-top: 65%;
    }
  }

  .homepage--scene-text {
    text-align: right;
    // media queries
    @include breakpoint($mobile-sm) {
      bottom: 61%;
      text-align: left;
    }
  }
}

.home-nexus {
  // media queries
  @include breakpoint($mobile-sm) {
    padding-top: 487.73%;
  }

  .scene-target {
    margin-top: 36.8%;
    // MEDIA QUERIES
    @include breakpoint($tablet-lg) {
      margin-top: 1%;
    }
  }

  .homepage--scene-text {
    bottom: 46.2%;
    text-align: right;
    // media queries
    @include breakpoint($mobile-sm) {
      bottom: 41.7%;
      text-align: left;
    }
  }
}

.home-five {
  // media queries
  @include breakpoint($mobile-sm) {
    padding-top: 322.4%;
  }

  .scene-target {
    margin-top: 36.6%;
    // media queries
    @include breakpoint($tablet-lg) {
      margin-top: 1%;
    }
  }

  .homepage--scene-text {
    text-align: left;
    // media queries
    @include breakpoint($mobile-sm) {
      bottom: 39.2%;
    }
  }
}
