@import 'sass-includes';

.loader {
  position: relative;
  min-height: 100vh;
  height: 0;
  background: $redshift;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

.capsule {
  width: 2.5rem;
  height: 4.9rem;
  border-radius: 1.5rem;
  background: $white;
  display: inline-block;
  z-index: 10;
  position: relative;
}

.dot {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: $white;
  display: inline-block;
  z-index: 9;
  position: relative;
  right: -0.3rem;
  top: -1.2rem;
}

.play {
  @include font(bold);
  position: absolute;
  bottom: 3rem;
  font-size: 3rem;
  color: $black;
  z-index: 60;
  cursor: pointer;
}
