@import 'sass-includes';

.disable-scroll {
  overflow: hidden;

  .scroller {
    @include breakpoint($mobile-lg) {
      overflow-y: hidden;
    }
  }
}

html,
body {
  // media queries
  @include breakpoint($mobile-lg) {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}


.scroller {
  // media queries
  @include breakpoint($mobile-lg, min-width) {
    height: auto !important;
    width: 100% !important;
  }
  @include breakpoint($mobile-lg) {
    max-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
