@import 'sass-includes';

.scrolltrigger {
  z-index: 0;
  // transition: opacity 1s ease-in-out;
  // opacity: 1;
  cursor: pointer;
  position: relative;

  img {
    padding-left: 0.5rem;
  }

  &.fixed {
    @extend %page-margins;
    position: fixed;
    bottom: 2.8rem;
    left: 0;
  }
}
