@import 'sass-includes';

.scrolltrigger {
  z-index: 0;
  // cursor: pointer;
  position: absolute;
  bottom: 4rem;
  left: 7rem;
  // media queries
  @include breakpoint($mobile-lg) {
    left: 4rem;
  }

  img {
    padding-left: 0.5rem;
  }

  &.fixed {
    @extend %page-margins;
    position: fixed;
    bottom: 2.8rem;
    left: 0;
  }
}
