@import 'sass-includes';

svg {
  overflow: visible;
}

.aboutPath {
  stroke-width: 1;
  stroke: #DCDCDB;
}

.about__hybrid--circle {
  position: absolute;
  height: 92%;
  right: 0;
  width: calc(100% - 10rem);
  min-width: 134rem;
  height: 8rem;
  @media screen and (min-width: 1440px) {
    left: 0;
  }
  @media screen and (min-width: 401px) and (max-width: 540px) {
    right: 2rem;
    min-width: 88rem;
  }
  @media screen and (max-width: 400px) {
    min-width: 88rem;
    top: -9rem;
  }
}

.exCircle,
.hyCircle,
.iCircle
{ opacity: 0; }

.solidText { opacity: 1; }

.hyText {
  font-family: Avenir-Black,sans-serif;
  font-size: 3.6rem;
  opacity: 0;
}