@import 'sass-includes';

svg {
  overflow: visible;
}

.aboutPath {
  stroke-width: 1;
  stroke: #DCDCDB;
}

.about__hybrid--circle {
  position: absolute;
  height: 92%;
  right: 0;
  width: calc(100% - 10rem);
  min-width: 134rem;
  height: 8rem;
  @media screen and (min-width: 1440px) {
    left: 0;
  }
}

.solidText { opacity: 1; }
.hyText {
  font-family: Avenir-Black,sans-serif;
  font-size: 3.6rem;
  opacity: 0;
  // text-shadow: 0 0 15px #000000;
}