@import 'sass-includes';

svg {
  overflow: visible;
}

.aboutPath {
	stroke-width: 1;
	stroke: #DCDCDB;
}

.about__hybrid--circle {
	position: absolute;
    bottom: 0;
    height: 92%;
    left: 0;
    width: calc(100% - 10rem);
    max-width: 134rem;
}

.hyText {
	font-family: Avenir-Black,sans-serif;
	font-size: 3.6rem;
}