@import 'sass-includes';

.dropdown {
  position: relative;
  z-index: 15;
}

.dropdown__toggle {
  padding: 0 2.5rem;
  cursor: pointer;
}

.dropdown__menu {
  position: absolute;
  top: 2rem;
  padding: 2.5rem;
  border-bottom-right-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  width: 100%;
}

.dropdown__item {
  cursor: pointer;

  &.is-active:not(.disabled) {
    @include font(bold);
  }
}

.dropdown--button {
  .dropdown__item {
    &:not(.is-active).disabled,
    &.is-active.disabled {
      color: #CCC;
      cursor: not-allowed;
    }
  }
}
