@import 'sass-includes';

svg {
  overflow: visible;
}

#motionPath1 {
  transform: translateY(6.9rem);
}
#motionPath3 {
  transform: translateY(5.8rem);
}
#motionPath6 { transform: translateY(12.7rem); }

#motionPath4,
#motionPath5,
#motionPath7 {
  transform: translateY(12.8rem);
}

#motionPath8,
#motionPath9 {
  transform: translateY(18.7rem);
}