// development font mixin - pulls local version of font to speed up page refresh
@mixin font($weight) {
  @if $weight == 'book' {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: normal;
  } @else if $weight == 'bold' {
    font-family: 'Avenir-Black', sans-serif;
  } @else if $weight == 'heavy' {
    font-family: 'Avenir-Heavy', sans-serif;
  }
}

@mixin font-size($type) {
  @if $type == 'h1' {
    @include font(bold);
    font-size: 12rem;
    line-height: 1.1333;
    letter-spacing: -0.075rem;
    // media queries
    @include breakpoint($tablet-lg) {
      font-size: 10rem;
      line-height: 1.2;
    }

    @include breakpoint($mobile-md) {
      font-size: 6.2rem;
      line-height: 1.12903222;
    }

    @include breakpoint($mobile-xsm) {
      font-size: 5.8rem;
      line-height: 1.2068;
    }
  }

  @if $type == 'h2' {
    @include font(bold);
    font-size: 5.8rem;
    line-height: 1.2777;
    letter-spacing: normal;
    // media queries
    @include breakpoint($tablet-lg) {
      font-size: 4.8rem;
    }
    @include breakpoint($mobile-lg) {
      font-size: 3.6rem;
    }
    @include breakpoint($mobile-md) {
      font-size: 3rem;
    }
  }

  @if $type == 'h3' {
    @include font(bold);
    font-size: 4rem;
    letter-spacing: normal;
    line-height: 1.25;
    // media queries
    @include breakpoint($tablet-lg) {
      font-size: 3rem;
      line-height: 1.333;
    }
    @include breakpoint($mobile-lg) {
      font-size: 2.4rem;
    }
  }

  @if $type == 'default' {
    @include font(book);
    line-height: 1.375;
    // media queries
    @include breakpoint($mobile-lg) {
      font-size: 2.4rem;
      letter-spacing: normal;
    }
  }
}
