// development font mixin - pulls local version of font to speed up page refresh
@mixin font($weight) {
  @if $weight == 'book' {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: normal;
  } @else if $weight == 'bold' {
    font-family: 'Avenir-Black', sans-serif;
  } @else if $weight == 'heavy' {
    font-family: 'Avenir-Heavy', sans-serif;
  }
}

@mixin font-size($type) {
  @if $type == 'h1' {
    @include font(bold);
    font-size: 6.4rem;
    line-height: 1.142857;
    letter-spacing: -0.15rem;
    // media queries

    @include breakpoint($tablet-lg) {
      font-size: 5.2rem;
    }
    @include breakpoint($mobile-lg) {
      font-size: 4.2rem;
      letter-spacing: -.075rem;
    }
  }

  @if $type == 'h2' {
    @include font(bold);
    font-size: 4rem;
    line-height: 1.2777;
    // media queries
    @include breakpoint($tablet-lg) {
      font-size: 3.6rem;
    }
    @include breakpoint($mobile-lg) {
      font-size: 3.6rem;
      letter-spacing: .054rem;
    }
  }

  @if $type == 'h3' {
    @include font(bold);
    font-size: 3.6rem;
    line-height: 1;
    // media queries

    @include breakpoint($tablet-lg) {
      font-size: 2.4rem;
    }
    @include breakpoint($mobile-lg) {
      font-size: 2.4rem;
      letter-spacing: -0.2rem;
    }
  }

  @if $type == 'default' {
    @include font(book);
    line-height: 1.375;
    // media queries
    @include breakpoint($mobile-lg) {
      font-size: 2.4rem;
      letter-spacing: normal;
    }
  }
}
