// development font mixin - pulls local version of font to speed up page refresh
@mixin font($weight) {
  @if $weight == 'book' {
    font-family: 'Avenir-Book', sans-serif;
    font-weight: normal;
  } @else if $weight == 'bold' {
    font-family: 'Avenir-Black', sans-serif;
  }
}

@mixin font-size($type) {
  @if $type == 'h1' {
    font-size: 6.4rem;
    line-height: 1.35;
    letter-spacing: -0.15rem;
    // media queries

    @include breakpoint($tablet-lg) {
      font-size: 5.2rem;
    }
    @include breakpoint($mobile-lg) {
      font-size: 4.8rem;
    }
    @include breakpoint($mobile-sm) {
      font-size: 4.2rem;
    }
    @include breakpoint($mobile-xsm) {
      font-size: 3.8rem;
    }
    @include breakpoint($mobile-xxsm) {
      font-size: 3.4rem;
    }
  }

  @if $type == 'h2' {
    font-size: 4rem;
    line-height: 1.4;
    // media queries

    @include breakpoint($tablet-lg) {
      font-size: 3.6rem;
    }
    @include breakpoint($mobile-lg) {
      font-size: 2.4rem;
    }
    @include breakpoint($mobile-sm) {
      font-size: 2.1rem;
    }
    // @include breakpoint($mobile-xsm) {
    //   font-size: 1.8rem;
    // }
  }

  @if $type == 'h3' {
    font-size: 3.6rem;
    // media queries

    @include breakpoint($tablet-lg) {
      font-size: 2.4rem;
    }
    @include breakpoint($mobile-lg) {
      font-size: 2.1rem;
    }
    @include breakpoint($mobile-sm) {
      font-size: 1.8rem;
    }
    // @include breakpoint($mobile-xsm) {
    //   font-size: 1.6rem;
    // }
  }

  @if $type == 'h4' {
    font-size: 2.4rem;
    line-height: 1.4;
    // media queries
    @include breakpoint($tablet-lg) {
      font-size: 2.1rem;
    }
    @include breakpoint($mobile-lg) {
      font-size: 1.8rem;
    }
    @include breakpoint($mobile-sm) {
      font-size: 1.6rem;
    }
    // @include breakpoint($mobile-xsm) {
    //   font-size: 1.4rem;
    // }
  }

  @if $type == 'h5' {
    font-size: 2.1rem;
    // media queries
    @include breakpoint($tablet-lg) {
      font-size: 1.8rem;
    }
    @include breakpoint($mobile-lg) {
      font-size: 1.6rem;
    }
    @include breakpoint($mobile-sm) {
      font-size: 1.4rem;
    }
    // @include breakpoint($mobile-xsm) {
    //   font-size: 1.2rem;
    // }
  }

  @if $type == 'default' {
    @include font(book);
    font-size: 1.6rem;
    // media queries
    @include breakpoint($mobile-lg) {
      font-size: 1.5rem;
    }
    // @include breakpoint($mobile-xsm) {
    //   font-size: 1.4rem;
    // }
  }
}
