.btn {
  cursor: pointer;
}

.btn--ghost {
  padding: 1.8rem 5rem;
  display: inline-block;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  position: relative;
  border: solid 0.1rem $body;
  background-color: transparent;
}

.btn--gradient {
  padding: 1.8rem 5rem;
  display: inline-block;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF2959), to(#FF29BD));
}

.btn--ghost.typ--redshift { border-color: $redshift; }
.btn--ghost.typ--yumavore { border-color: $yumavore; }
.btn--ghost.typ--five { border-color: $five; }
.btn--arrow { position: relative; }

html:not(.is-touchdevice) {
  .btn--ghost:hover {
    background-color: $body;
    color: $white;
    border-color: $body;
  }

  .btn--ghost.typ--redshift:hover {
    background-color: $redshift;
    border-color: $redshift;
  }

  .btn--ghost.typ--yumavore:hover {
    background-color: $yumavore;
    border-color: $yumavore;
  }

  .btn--ghost.typ--five:hover {
    background-color: $five;
    border-color: $five;
  }
}

.btn--arrow .icon-arrow-right {
  font-size: 8.2rem;
  position: absolute;
  top: -5rem;
  // media queries
  @include breakpoint($tablet-md) {
    top: -5.2rem;
  }
  @include breakpoint($mobile-lg) {
    top: -5.4rem;
  }
  @include breakpoint($mobile-md) {
    top: -5.7rem;
  }
}

.btn.no-link {
  cursor: default;
}

#cs-yumavore .btn {
  color: $redshift;
}

#cs-kaiser .btn {
  color: $kaiser;
}

#cs-five .btn {
  color: $five;
}
