@import 'sass-includes';

.team-member__modal {
  background-repeat: no-repeat;
  background-position: right;
  background-color: $white;
  top: 0;
  bottom: 0;
  position: absolute;
  min-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  // media queries
  @include breakpoint($mobile-lg) {
    width: 100%;
    overflow-y: scroll;
  }
}

.modal__close.row a {
  // media queries
  @include breakpoint($mobile-lg) {
    position: fixed;
    top: 2.5rem;
    right: 4rem;
    left: auto;
  }
  @include breakpoint($mobile-sm) {
    right: 2rem;
    top: 2rem;
  }
}

.about--team {
  margin-top: 14rem;
  // media queries
  @include breakpoint($tablet-lg) {
    margin-top: 12rem;
  }

  @include breakpoint($mobile-lg) {
    margin-top: 9rem;
  }

  img {
    display: block;
  }

  .team-member {
    position: relative;
    overflow: hidden;
    height: auto;
    cursor: pointer;
  }

  .member__name {
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .member__position {
    padding-right: 5rem;
  }

  .member__name,
  .member__position {
    @include font-size(h4);
    width: 100%;
    display: block;
  }

  .about--team__layout {
    width: 25%;
    float: left;
    //media queries
    @include breakpoint($tablet-md) {
      width: 50%;
    }
  }
}

.team-member-bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9;
  width: 50%;
  padding-top: 10rem;
  padding-bottom: 9rem;
  // media queries
  @media screen and (max-device-width: 1040px) and (orientation : portrait) {
    width: calc(100% - 10rem);
  }
  @include breakpoint($tablet-lg) {
    padding-top: 9rem;
  }
  @include breakpoint($tablet-md) {
    width: 100%;
  }
  @include breakpoint($mobile-lg) {
    transform: none;
    top: 11.6rem;
  }

  h2,
  h3 {
    text-transform: lowercase;
  }
}

.bio--wrap {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  // media queries
  @media screen and (max-height: 680px) {
    align-items: flex-start;
    height: auto;
  }
  @include breakpoint($tablet-md) {
    position: relative;
  }
}

.bio--wrap__img {
  height: 100%;
  text-align: center;

  img {
    height: 100%;
    width: auto;
    position: fixed;
    right: 0;
    @media screen and (max-width: 1300px) {
      right: -17.7%;
    }
    @media screen and (max-height: 680px) {
      min-height: 67.5rem;
    }
  }
}

.pink-hover__item {
  @include breakpoint($tablet-lg, min-width) {
    &:hover .pink-hover {
      transform: translateX(0%);
    }
  }
}

.pink-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $redshift;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(calc(100% + 1px));
  z-index: 2;
}

.pinkhover__img {
  z-index: 1;
}

.pink-hover .pink-info {
  color: $white;
  padding: 3rem;
  // media queries
  @include breakpoint($mobile-sm) {
    padding: 2rem;
  }
}

.right-arrow {
  position: absolute;
  right: 2rem;
  bottom: 2.8rem;
  width: 4.4rem;
}
