@import 'sass-includes';

.team-member__modal {
  background-repeat: no-repeat;
  background-position: right;
  background-color: $white;
  top: 0;
  bottom: 0;
  position: absolute;
  min-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  // media queries
  @include breakpoint($mobile-lg) {
    width: 100%;
    overflow-y: scroll;
  }
}

.about--team {
  position: relative;
  z-index: 9;
  max-width: 144rem;
  margin: 0 auto;
  margin-top: 14rem;
  // media queries
  @include breakpoint($tablet-lg) {
    margin-top: 12rem;
  }

  @include breakpoint($mobile-lg) {
    margin-top: 9rem;
  }

  img {
    display: block;
  }

  .team-member {
    position: relative;
    overflow: hidden;
    height: auto;
    cursor: pointer;
  }

  .member__name {
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .member__position {
    padding-right: 5rem;
  }

  .member__name,
  .member__position {
    @include font-size(h4);
    width: 100%;
    display: block;
  }

  .about--team__layout {
    width: 25%;
    float: left;
    //media queries
    @include breakpoint($tablet-md) {
      width: 50%;
    }
  }
}

.team-member-bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9;
  width: 50%;
  padding-top: 10rem;
  padding-bottom: 9rem;
  // media queries
  @media screen and (max-device-width: 1040px) and (orientation : portrait) {
    width: calc(100% - 42rem);
  }
  @include breakpoint($tablet-lg) {
    padding-top: 9rem;
  }
  @include breakpoint($tablet-md) {
    width: 100%;
  }
  @include breakpoint($mobile-lg) {
    transform: none;
    top: 11.6rem;
  }
}

.bio--wrap {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  // media queries
  @media screen and (max-height: 680px) {
    align-items: flex-start;
    height: auto;
  }
  @include breakpoint($tablet-md) {
    position: relative;
  }
}

.bio--wrap__img {
  height: 100%;
  text-align: center;
  pointer-events: none;

  // TODO use pngs with transparent backgrounds for team
  // member modals before uncommenting this code
  // &:after {
  //   @extend %page-margins;
  //   content: '';
  //   width: 58.2%;
  //   padding-bottom: 37.7%;
  //   display: block;
  //   position: fixed;
  //   background: $background-gray;
  //   z-index: 1;
  //   top: 18rem;
  //   right: 7rem;
  //   // media queries
  //   @include breakpoint($tablet-md) {
  //     display: none;
  //   }
  // }

  img {
    bottom: -10rem;
    height: 100%;
    width: auto;
    position: fixed;
    right: 0;
    z-index: 2;
    // media queries
    @include breakpoint($desktop-lg) {
      right: -8%;
    }
    @include breakpoint($desktop-sm) {
      right: -17.7%;
    }
    @media screen and (max-device-width: 1040px) and (orientation : portrait) {
      right: -25%;
      height: calc(100% - 25rem);
      bottom: 0;
    }
    @media screen and (max-device-width: 1040px) and (orientation : landscape) {
      right: 0;
      bottom: 0;
      height: calc(100% - 10rem);
    }
    @media screen and (max-height: 680px) {
      min-height: 67.5rem;
    }
  }
}

.team-member__modal.david .bio--wrap__img img {
  // media queries
  @media screen and (max-device-width: 1040px) and (orientation : portrait) {
    right: -17%;
  }
}

html:not(.is-touchdevice) {
  .pink-hover__item:hover .pink-hover {
    transform: translateX(0%);
  }
}

.pink-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba($redshift, 0.95), rgba($redshift, 0.95) 40%, rgba($cranberry, 0.95));
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(calc(100% + 1px));
  z-index: 2;
}

.pinkhover__img {
  z-index: 1;
}

.pink-hover .pink-info {
  color: $white;
  padding: 3rem;
  // media queries
  @include breakpoint($mobile-md) {
    padding: 2rem;
  }
}

.right-arrow {
  position: absolute;
  right: 2rem;
  bottom: 2.8rem;
  width: 4.4rem;
}
