@import 'sass-includes';

.team-member__modal {
  background-repeat: no-repeat;
  background-position: right;
  background-color: $white;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  // media queries
  @include breakpoint($mobile-lg) {
    width: 100%;
    overflow-y: scroll;
  }
}

.about--team {
  margin-top: 14rem;
  // media queries
  @include breakpoint($tablet-lg) {
    margin-top: 12rem;
  }

  @include breakpoint($mobile-lg) {
    margin-top: 9rem;
  }
}

.about--team {
  img {
    display: block;
  }

  .team-member {
    position: relative;
    overflow: hidden;
    height: auto;
    cursor: pointer;
  }

  .member__name {
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .member__position {
    padding-right: 5rem;
  }

  .member__name,
  .member__position {
    @include font-size(h4);
    width: 100%;
    display: block;
  }

  .about--team__layout {
    width: 25%;
    float: left;
    //media queries
    @include breakpoint($tablet-md) {
      width: 50%;
    }
  }
}

.team-member-bio {
  position: relative;
  z-index: 9;
  width: 50%;
  // media queries
  @include breakpoint($tablet-md) {
    width: 100%;
  }

  @include breakpoint($mobile-lg) {
    transform: none;
    top: 11.6rem;
  }

  h2, h3 {
    text-transform: lowercase;
  }
}

.bio--wrap {
  height: 100%;
  display: flex;
  align-items: center;
  // media queries
  @media screen and (max-height: 680px) {
    align-items: flex-start;
    height: auto;
  }
  @include breakpoint($tablet-md) {
    position: relative;
  }
}

.bio--wrap__img {
  height: 100%;
  text-align: center;
  img {
    height: 100%;
    width: auto;
    position: absolute;
    @media screen and (max-height: 680px) {
      min-height: 67.5rem;
    }
  }
}