@import 'sass-includes';

.careers.modal--open {
  .content-main.careers {
    .page-title {
      position: relative;
      z-index: 1;
    }
  }
}

.career-section {
  border-bottom: solid 0.1rem $medium-gray;
  padding-top: 11.7rem;
  padding-bottom: 9rem;
  @include breakpoint($mobile-lg) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.job-description__title {
  padding-top: 14.5rem;
  padding-bottom: 6rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
  }
}

.job-description__subtitle {
  padding-top: 7.4rem;
  padding-bottom: 4.8rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-top: 2.8rem;
    padding-bottom: 1.8rem;
  }
}

.careers--title {
  padding-top: 10rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-top: 6rem;
  }
}

.job__link {
  color: $black;
  margin-bottom: 1.5rem;
  width: 12.1rem;
  padding-bottom: 3rem;
  // media queries
  @include breakpoint($mobile-lg) {
    font-size: 1.4rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
  }

  &:after {
    content: '';
    margin-top: 1.5rem;
    height: 0.2rem;
    background: $redshift;
    display: block;
    width: 6rem;
    transition: width 0.2s ease-in-out;
  }
}

html:not(.is-touchdevice) {
  .job__link:hover:after {
    width: 17rem;
  }
}

.job__modal {
  width: 100vw;
  z-index: 4;
  // media queries
  @include breakpoint($tablet-md) {
    width: 100vw;
  }
}

.job__list {
  margin-left: 3rem;
  padding-bottom: 3rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-bottom: 2rem;
  }
}

.careers-title {
  font-weight: bold;
  position: relative;
  padding-top: 16rem;
  padding-bottom: 4rem;
  // media queries
  @include breakpoint($tablet-lg) {
    padding-top: 10rem;
  }
  @include breakpoint($mobile-sm) {
    padding-top: 6rem;
  }
}

.job-description--container {
  padding-bottom: 10rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-bottom: 5rem;
  }

  hr {
    margin-bottom: 2.4rem;
  }

  li {
    list-style-type: disc;
    color: $redshift;
    margin-bottom: 1.5rem;

    span {
      color: $black;
    }
  }

}

.job-description {
  padding-bottom: 8rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-bottom: 3rem;
  }
}

.contact__form {
  background-color: #F7F7F7;
  overflow: hidden;

  h2 {
    padding-bottom: 7.6rem;
    // media queries
    @include breakpoint($mobile-lg) {
      padding-bottom: 4rem;
    }
  }

  .form__group {
    border-bottom: solid 1px #CDCDCD;
    padding-bottom: 2.7rem;
    margin-bottom: 6rem;
    // media queries
    @include breakpoint($mobile-sm) {
      padding-bottom: 1.4rem;
      margin-bottom: 4rem;
    }

    &.has-error {
      border-color: $redshift;
    }
  }

  .form__group--filename {
    position: relative;
    top: -5rem;
    // media queries
    @include breakpoint($mobile-lg) {
      top: -3rem;
    }
  }

  input[type=text],
  input[type=email],
  label {
    color: $medium-gray;
    width: 100%;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
}

.form__attach > input {
  display: none;
}

.is-touchdevice .form__attach > input {
  opacity: 0;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
}

.form__attach {
  position: relative;

  label {
    width: 100%;
    display: block;
    z-index: 9;
    cursor: pointer;
  }
}

.form__attach label img {
  float: right;
  cursor: pointer;
  width: 3.5rem;
  // media queries
  @include breakpoint($mobile-sm) {
    width: 2rem;
  }
}

input:-webkit-autofill {
  background-color: #F7F7F7;
}

.job-contact--button {
  button {
    // media queries
    @include breakpoint($mobile-lg) {
      width: 100%;
    }
  }
}
