@import 'sass-includes';

.careers.modal--open {
  .content-main.careers {
    .page-title {
      position: relative;
      z-index: 1;
    }
  }
}

.careers-hero {
  height: 0;
  padding-top: 24%;
  position: relative;
  max-height: 45rem;
  min-height: 33rem;
}

.career-section {
  border-bottom: solid 0.1rem $medium-gray;
}

.job__view {
  &:after {
    content: '';
    height: 0.2rem;
    width: 6.5rem;
    display: block;
    background-color: $redshift;
    margin-top: 2rem;
  }
}

.careers-page-title {
  // height: 45rem;
  top: 40%;
  position: absolute;
}

.job__modal {
  width: 100vw;
  z-index: 4;
  // media queries
  @include breakpoint($tablet-md) {
    width: 100vw;
  }

  .modal__inner {
    padding-top: 7rem;
    width: calc(100vw - 12rem);
    background: $white;
    z-index: 19;
    // media queries
    @include breakpoint($tablet-lg) {
      padding-top: 5.3rem;
    }
    @include breakpoint($mobile-lg) {
      width: 100%;
      padding-top: 4.2rem;
    }
    @include breakpoint($mobile-sm) {
      padding-left: 3.8;
    }
  }

  .case-study-project-name,
  .careers__type {
    // media queries
    text-transform: lowercase;
    @include breakpoint($mobile-lg) {
      position: relative;
      top: 0.4rem;
      margin-left: 4.4rem;
    }
    @include breakpoint($mobile-sm) {
      top: -0.5rem;
      margin-left: 4rem;
    }
  }
}

.careers-title {
  font-weight: bold;
  position: relative;
  padding-top: 16rem;
  padding-bottom: 4rem;
  // media queries
  @include breakpoint($tablet-lg) {
    padding-top: 10rem;
  }
  @include breakpoint($mobile-sm) {
    padding-top: 6rem;
  }
}

.careers-section {
  position: relative;
  padding-top: 3.4rem;
  padding-bottom: 1rem;
}

.job-description li {
  list-style-type: none;
  margin-bottom: 1.5rem;
}

.contact__form {
  background-color: #F7F7F7;
  overflow: hidden;

  .form__group {
    border-bottom: solid 1px #CDCDCD;
    padding-bottom: 2.7rem;
    // media queries
    @include breakpoint($mobile-sm) {
      padding-bottom: 1.4rem;
    }
  }

  .form__group--filename {
    position: relative;
    top: -5rem;
  }

  input[type=text],
  input[type=email],
  label {
    @include font-size(h4);
    color: $body;
    width: 100%;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
}

.form__attach > input {
  display: none;
}

.form__attach label {
  width: 100%;
  display: block;
}

.form__attach label img {
  float: right;
  cursor: pointer;
  // media queries
  @include breakpoint($mobile-sm) {
    width: 2rem;
  }
}

input:-webkit-autofill {
  background-color: #F7F7F7;
}

.job__sidebar {
  // background-color: #EE05BA;
  width: 8rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  // media queries
  @include breakpoint($mobile-lg) {
    display: none;
  }
}

.job--modal__right {
  padding-top: 6.7rem;
  width: calc(100vw - 17rem);
  background: #FFF;
  z-index: 19;
  float: right;
  overflow: auto;
  height: 100%;
}
