@import 'sass-includes';

.career-section {
  border-bottom: solid 0.1rem $medium-gray;
}

.job__link {
  color: $black;
  margin-bottom: 1.5rem;
  width: 12.1rem;
  padding-bottom: 3rem;
  // media queries
  @include breakpoint($mobile-lg) {
    font-size: 1.4rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
  }

  &:after {
    content: '';
    margin-top: 1.5rem;
    height: 0.2rem;
    background: $redshift;
    display: block;
    width: 5rem;
    transition: width 0.2s ease-in-out;
  }

  // disable hover below mobile
  @include breakpoint($tablet-lg, min-width) {
    &:hover:after {
      width: 12.5rem;
    }
  }
}

.careers-title {
  font-weight: bold;
  position: relative;
  padding-top: 16rem;
  padding-bottom: 4rem;
  // media queries
  @include breakpoint($tablet-lg) {
    padding-top: 10rem;
  }

  @include breakpoint($mobile-sm) {
    padding-top: 6rem;
  }
}

.careers-section {
  position: relative;
  padding-top: 3.4rem;
  padding-bottom: 1rem;
}

.contact__form {
  background-color: #F7F7F7;
  overflow: hidden;

  .form__group {
    border-bottom: solid 1px #CDCDCD;
    padding-bottom: 2.7rem;
    // media queries
    @include breakpoint($mobile-sm) {
      padding-bottom: 1.4rem;
    }
  }

  .form__group--filename {
    position: relative;
    top: -5rem;
  }

  input[type=text],
  input[type=email],
  label {
    @include font-size(h4);
    color: $body;
    width: 100%;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
}

.form__attach > input {
  display: none;
}

.form__attach label {
  width: 100%;
  display: block;
}

.form__attach label img {
  float: right;
  cursor: pointer;
  // media queries
  @include breakpoint($mobile-sm) {
    width: 2rem;
  }
}

input:-webkit-autofill {
  background-color: #F7F7F7;
}

.job--modal__right {
  padding-top: 6.7rem;
  width: calc(100vw - 17rem);
  background: #FFF;
  z-index: 19;
  float: right;
  overflow: auto;
  height: 100%;
}
