@import 'sass-includes';

.about__content {
  max-width: 144rem;
  margin: 0 auto;
  margin-bottom: 16rem;

  @include breakpoint($tablet-lg) {
    margin-bottom: 9rem;
  }
  @include breakpoint($tablet-sm) {
    margin-bottom: 7rem;
  }
}

.about__square {
  background-color: $background-gray;
  position: absolute;
  z-index: 1;
}

.about__text {
  z-index: 3;
  position: relative;
}

.about__image {
  position: relative;
  z-index: 2;
}

.about__one {
  max-height: 100vh;

  .about__text {
    padding-top: 36%;
    @include breakpoint($desktop-sm) {
      padding-top: 29%;
    }

    @include breakpoint($tablet-md) {
      padding-top: 20%;
    }

    h1 {
      margin-bottom: 5rem;
    }

    @include breakpoint($tablet-sm) {
      padding-top: 4rem;
    }
  }

  .about__square {
    width: 23rem;
    height: 29rem;
    left: 50%;
    top: 53%;
    transform: translateX(-50%);
  }

  @include breakpoint($tablet-sm) {
    max-height: none;
  }
}

.about__two {
  .about__image {
    @include breakpoint($tablet-sm) {
      padding-bottom: 7rem;
    }
  }

  .about__text {
    @include breakpoint($tablet-sm) {
      margin: 0 auto;
    }
  }

  .about__square {
    width: 35rem;
    height: 40rem;
    left: 50%;
    top: 53%;
    transform: translateX(-65%);
  }
}

.about__three {
  .about__image {
    @include breakpoint($tablet-sm) {
      padding-bottom: 7rem;
    }
  }

  .about__text {
    padding-top: 23%;
    @include breakpoint($tablet-sm) {
      padding-top: 0;
    }
  }

  .about__square {
    width: 35%;
    height: 29vw;
    left: 50%;
    top: 74%;
    transform: translateX(-24%);
  }
}

.about__four {
  .about__image {
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint($tablet-sm) {
      padding-bottom: 7rem;
    }
  }

  .about__square {
    width: 25%;
    height: 37vw;
    left: 0;
    bottom: calc(-50% + 16rem);
  }
}

.about__five {
  padding-left: 7rem;

  .about__text {
    padding-top: 10%;
  }
}

.about__six {
  margin-bottom: 0;
  height: 0;

  .about__image {
    top: -23vw;
  }

  .about__square {
    width: 34%;
    height: 35vw;
    top: 0;
    left: 50%;
    transform: translateX(-68%);
  }

  @include breakpoint($tablet-md) {
    display: none;
  }
}

.about__seven {
  padding-left: 0;

  .about__image {
    float: right;
    margin-top: 32%;
    @include breakpoint ($desktop-md) {
      margin-top: 35%;
    }
    @include breakpoint ($tablet-md) {
      margin-top: 26%;
      padding-bottom: 7rem;
    }
    @include breakpoint ($tablet-sm) {
      margin-top: 0;
    }
  }

  .about__text {
    padding-right: 6rem;
    position: absolute;
    top: 10%;
    width: 60%;
    right: 0;
    @include breakpoint ($desktop-sm) {
      top: 6%;
    }
    @include breakpoint($tablet-lg) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @include breakpoint ($tablet-md) {
      width: 100%;
      top: 0;
    }
    @include breakpoint($tablet-sm) {
      position: relative;
    }
  }
}

.about__eight {
  .about__text {
    padding: 10% 0 0 8%;
  }
  .about__square {
    width: 77%;
    height: 19vw;
    right: 0;
    top: 11vw;
  }
}
