@import 'sass-includes';

.about__content {
  max-width: 144rem;
  margin: 0 auto;
  padding-bottom: 16rem;

  @include breakpoint($tablet-lg) {
    padding-bottom: 9rem;
  }
  @include breakpoint($tablet-sm) {
    float: left;
    padding-bottom: 7rem;
  }
}

.about__square {
  background-color: $background-gray;
  position: absolute;
  z-index: 1;
}

.about__text {
  z-index: 3;
  position: relative;
}

.about__image {
  position: relative;
  z-index: 2;
}

.about__one {
  max-height: 100vh;

  .about__image {
    width: 50%;

    @include breakpoint($tablet-sm) {
      width: 80%;
    }
  }

  .about__text {
    position: absolute;
    bottom: calc(4% + 16rem);
    right: 0;

    h1 {
      margin-bottom: 5rem;
    }

    @include breakpoint($tablet-lg) {
      bottom: calc(4% + 9rem);
    }

    @include breakpoint($tablet-sm) {
      width: 100%;
      position: relative;
      margin-top: 4rem;
    }
  }

  .about__square {
    width: 21%;
    height: 24.6vw;
    left: 50%;
    top: 53%;
    transform: translateX(-50%);
  }

  @include breakpoint($tablet-sm) {
    max-height: none;
  }
}

.about__two {
  .about__image {
    float: right;
    width: 53.6%;
    @include breakpoint($tablet-sm) {
      width: 100%;
      right: -5rem;
      padding-bottom: 7rem;
      float: none;
    }
  }

  .about__text {
    position: absolute;
    bottom: 16rem;
    width: 40%;
    padding-right: 9%;
    @include breakpoint($tablet-lg) {
      width: 38%;
      padding-right: 0;
      bottom: 9rem;
    }
    @include breakpoint($tablet-sm) {
      width: 70%;
      margin: 0 auto;
      bottom: initial;
      position: relative;
    }
  }

  .about__square {
    width: 43%;
    height: 32vw;
    left: 50%;
    top: 53%;
    transform: translateX(-65%);
  }
}

.about__three {
  .about__image {
    width: 51.5%;
    @include breakpoint($tablet-sm) {
      width: auto;
      padding-bottom: 7rem;
    }
  }

  .about__text {
    position: absolute;
    bottom: calc(10% + 16rem);
    right: 7rem;
    width: 40%;
    @include breakpoint($tablet-lg) {
      bottom: 9rem;
      right: 4rem;
    }
    @include breakpoint($tablet-sm) {
      bottom: 0;
      right: 0;
      width: 100%;
      position: relative;
    }
  }

  .about__square {
    width: 35%;
    height: 29vw;
    left: 50%;
    top: 74%;
    transform: translateX(-24%);
  }
}

.about__four {
  .about__image {
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint($tablet-sm) {
      padding-bottom: 7rem;
      transform: none;
    }
  }

  .about__square {
    width: 25%;
    height: 37vw;
    left: 0;
    bottom: calc(-50% + 16rem);
  }
}

.about__five {
  padding-left: 7rem;

  .about__image {
    float: right;
    width: 53.6%;
    @include breakpoint($tablet-sm) {
      padding-bottom: 7rem;
      width: 100%;
      right: -12rem;
      top: 16rem;
    }
  }

  .about__text {
    position: absolute;
    top: 25%;
    width: 40%;
    @include breakpoint($tablet-lg) {
      top: -4rem;
    }
    @include breakpoint($tablet-sm) {
      width: 100%;
      // position: relative;
    }
  }
}

.about__six {
  padding-bottom: 0;
  height: 0;

  .about__image {
    top: -23vw;
  }

  .about__square {
    width: 34%;
    height: 35vw;
    top: 0;
    left: 50%;
    transform: translateX(-68%);
  }

  @include breakpoint($tablet-sm) {
    display: none;
  }
}

.about__seven {
  padding-left: 0;

  .about__image {
    float: right;
    margin-top: 32%;
    @include breakpoint ($desktop-md) {
      margin-top: 35%;
    }
    @include breakpoint ($tablet-md) {
      margin-top: 40%;
      padding-bottom: 7rem;
    }
  }

  .about__text {
    padding-left: 6rem;
    position: absolute;
    top: 10%;
    width: 60%;
    right: 0;
    @include breakpoint ($desktop-sm) {
      top: 6%;
    }
    @include breakpoint($tablet-lg) {
      padding-right: 4rem;
    }
    @include breakpoint($tablet-sm) {
      position: relative;
    }
  }
}

.about__eight {
  .about__image {
    float: right;
    width: 33%;
    right: 15%;
  }

  .about__text {
    position: absolute;
    bottom: 16rem;
    top: 11%;
    width: 40%;
    padding-left: calc(7rem + 4%);
    @include breakpoint($tablet-sm) {
      position: relative;
    }
  }

  .about__square {
    width: 77%;
    height: 19vw;
    right: 0;
    top: 11vw;
  }
}
