@import 'sass-includes';

.modal__title {
  color: $medium-gray;
  padding-top: 5.1rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-top: 3.2rem;
  }
}

.modal__close {
  cursor: pointer;
  position: absolute !important;
  color: $body;
  z-index: 26;
  left: 0;
  text-align: right;
  padding-top: 5.5rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-top: 3rem;
    right: 0;
  }

  .icon-close {
    font-size: 3rem;
  }
}

.modal__wrap {
  z-index: 36;
  position: relative;
}

.modal {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal__sidebar {
  width: 8rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  // media queries
  @include breakpoint($mobile-lg) {
    width: 1rem;
  }
}

.job--modal {
  .modal__sidebar {
    z-index: 1;
  }

  .modal__close a span {
    // media queries
    @include breakpoint($mobile-lg, min-width) {
      background: $white;
    }
  }
}

.modal__content {
  background-color: $white;
  width: calc(100% - 8rem);
  margin-left: 8rem;
  // media queries
  @include breakpoint($mobile-lg) {
    width: calc(100% - 1rem);
    margin-left: 1rem;
  }
}

.modal__with-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}