@import 'sass-includes';

.scene {
  // position: absolute;
  width: 100%;
  padding-left: 7rem;
  padding-right: 7rem;
  top: 50%;
  transform: translateY(-50%);
  // media queries
  @include breakpoint($desktop-sm) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include breakpoint($mobile-lg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#homepage-work {
  .scene {
    // media queries
    @include breakpoint($mobile-lg) {
      padding-left: 0;
      padding-right: 0;
      transform: none;
      top: auto !important;
    }
  }

  .scene__text {
    // media queries
    @include breakpoint($mobile-lg) {
      top: auto !important;
      bottom: 3rem !important;
      transform: none !important;
      position: fixed;
      padding: 0 2rem;
    }
  }
}

.index-content .scene {
    padding-left: 0;
    padding-right: 0;
}

@supports (-ms-ime-align:auto) {
  .home-section .scene {
    position: absolute !important;
    top: -100rem !important;
  }
}
