@import 'sass-includes';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  pointer-events: none;
  line-height: 1;
  padding-top: 5.5rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-top: 2.5rem;
  }
}

*::-ms-backdrop,
.header {
  pointer-events: auto;
} /* IE11 */

.header .icon-redshift,
.header .icon-hamburger,
.header .icon-close,
.nav .icon-redshift,
.nav .icon-close {
  font-size: 3.2rem;
  transition: background-color 0.2s linear, font 0.2s linear, transform 0.2s ease-in-out;
  // media queries
  @include breakpoint($tablet-lg) {
    font-size: 3rem;
  }

  @include breakpoint($mobile-lg) {
    font-size: 2.6rem;
  }
}

.header__text {
  transition: all 0.2s ease-in-out;
  position: realtive;
  top: -0.2rem;
}

.logo,
.icon-hamburger {
  display: inline-block;
  transition: transform 0.2s linear;
}

.header__logo {
  cursor: pointer;
  padding: 2rem 0 2rem 2rem;
  position: relative;
  left: -2rem;
  top: -2rem;

  &.hovered {
    .page-title { color: $redshift !important; }
  }

  @include breakpoint($tablet-lg, min-width) {
    &:hover {
      .logo {
        transform: scale(1.1);
      }
    }
  }
}

.icon-hamburger {
  // disable hover below mobile
  @include breakpoint($tablet-lg, min-width) {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.pink-theme {
  .page-title { color: $redshift; }
  .icon-close { color: $darkpurple; }
  .index-title { color: $white; }

  .icon-redshift {
    color: $dark-grey;
  }

  .icon-hamburger {
    span {
      background: $dark-grey;
    }
  }

  &.color-transition {
    .icon-hamburger span { background: $white; }
    .index-title { color: $white; }
  }
}

.white-theme {
  .icon-redshift { color: $white; }
  .page-title { color: $white; }
  .icon-close { color: $white; }
  .icon-hamburger span { background: $white; }
  #header__text { fill: $white !important; }
}

.page-title {
  position: relative;
  text-transform: lowercase;
  z-index: 10;
  top: 0;
  line-height: 1.2;
  display: inline-block;
  transition: color 0.2s linear;
  @include breakpoint($tablet-lg) {
    font-size: 3rem;
  }
  @include breakpoint($mobile-sm) {
    display: none;
  }
}

.menu__trigger {
  padding: 2rem;
  position: relative;
  right: -2rem;
  top: -2rem;
}
