// extends must use % syntax to avoid writing classes to multiple component css files

%container {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

%page-margins {
  padding-left: 6rem;
  padding-right: 6rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

// clearfix
%clearfix {
  clear: both;

  &:after { clear: both; }

  &:before,
  &:after {
    content: '';
    display: table;
  }
}
