// default font scaling
html {
  @include font(base);
  font-size: 10px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

// font sizes
body,
.typ--default {
  @include font-size(default);
  line-height: 1.6;
}


// fonts scaling can be font in
// includes/mixins/_mixins.typography.scss
.typ--aux { @include font-size(sm); }
.typ--small { @include font-size(xsm); }

h1,
.typ--h1 {
  @include font-size(h1);
}

h2,
.typ--h2 {
  @include font-size(h2);
}

h3,
.typ--h3 {
  @include font-size(h3);
}

h4,
.typ--h4 {
  @include font-size(h4);
}

h5,
.typ--h5 {
  @include font-size(h5);
}

h6,
.typ--h6 {
  @include font-size(h6);
}


.typ--caps {
  text-transform: uppercase;
}

// font weights
.typ--light { @include font(light); }
.typ--medium { @include font(medium); }
.typ--bold { @include font(bold); }

// font modifiers
strong { @include font(medium); }

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

em {
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

blockquote {
  padding-left: 3rem;
  border-left: 0.1rem solid $bodytext;
}

.typ--underline {
  text-decoration: underline;
}

.typ--actionable {
  cursor: pointer;
}

// font alignment
.typ--center {
  text-align: center;
}

.typ--left {
  text-align: left;
}

.typ--right {
  text-align: right;
}
