@font-face {
  font-family: 'redshift-icons';
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/redshift-icons.eot');
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/redshift-icons.eot?#iefix') format('eot'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/redshift-icons.woff') format('woff'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/redshift-icons.ttf') format('truetype'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/redshift-icons.svg#redshift-icons') format('svg');
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_4_0.eot');
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_4_0.eot?#iefix') format('embedded-opentype'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_4_0.woff2') format('woff2'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_4_0.woff') format('woff'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_4_0.ttf') format('truetype');
}

@font-face {font-family: 'Avenir-Book';
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_6_0.eot');
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_6_0.eot?#iefix') format('embedded-opentype'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_6_0.woff2') format('woff2'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_6_0.woff') format('woff'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_6_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.eot');
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.eot?#iefix') format('embedded-opentype'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.woff2') format('woff2'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.woff') format('woff'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.ttf') format('truetype');
}
