// default font scaling
html {
  @include font(book);
  font-size: 10px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

// font sizes
body,
.typ--default {
  @include font-size(default);
  color: $body;
}

.typ--aux { @include font-size(sm); }

h1,
.typ--h1 {
  @include font-size(h1);
}

h2,
.typ--h2 {
  @include font-size(h2);
}

h3,
.typ--h3 {
  @include font-size(h3);
}

.typ--hero {
  font-size: 8.6rem;
  line-height: 1.05813953;
  // media queries
  @include breakpoint($desktop-lg) {
    font-size: 7.2rem;
  }
  @include breakpoint($tablet-lg) {
    font-size: 6rem;
    line-height: 1.1;
  }
  @include breakpoint($mobile-md) {
    font-size: 4rem;
    line-height: 1.15;
  }
  @include breakpoint($mobile-sm) {
    font-size: 3.4rem;
    line-height: 1.11764706;
  }
}

.typ--b1 {
  @include font(book);
  font-size: 3rem;
  line-height: 1.666;
  letter-spacing: normal;
  // media queries
  @include breakpoint($tablet-lg) {
    font-size: 2.6rem;
    line-height: 1.6923;
  }
  @include breakpoint($mobile-lg) {
    font-size: 2rem;
    line-height: 1.8;
  }
  @include breakpoint($mobile-xsm) {
    font-size: 1.8rem;
    line-height: 1.777;
  }
}

.typ--b2 {
  @include font(book);
  font-size: 2.4rem;
  line-height: 1.333;
  letter-spacing: normal;
  // media queries
  @include breakpoint($tablet-lg) {
    font-size: 2rem;
    line-height: 1.8;
  }
  @include breakpoint($mobile-md) {
    font-size: 1.6rem;
    line-height: 1.375;
  }
}

.typ--b3 {
  @include font(book);
  font-size: 2rem;
  line-height: 1.6;
}

// .typ--button {
//   @include font(heavy);
//   font-size: 2.6rem;
//   letter-spacing: 0.03rem;
//   line-height: 1.35;
//   // media queries
//   @include breakpoint($tablet-lg) {
//     font-size: 2rem;
//   }

//   @include breakpoint($mobile-lg) {
//     line-height: 1.15;
//   }

//   @include breakpoint($mobile-md) {
//     font-size: 1.8rem;
//   }
// }

.typ--menu {
  @include font(heavy);
  font-size: 10rem;
  line-height: 1.2;
  letter-spacing: 0.03rem;
  // media queries
  @include breakpoint($tablet-lg) {
    font-size: 9rem;
    line-height: 1.111;
  }

  @include breakpoint($mobile-lg) {
    font-size: 6.4rem;
    line-height: 1.25;
  }
  @include breakpoint($mobile-md) {
    font-size: 4.5rem;
    line-height: 1.185;
  }
  @media only screen and (max-height: 420px) {
    font-size: 4rem;
  }
}

.typ--footer {
  @include font(heavy);
  font-size: 1.6rem;
  line-height: 1.714248;
  // media queries
  @include breakpoint($tablet-lg) {
    font-size: 1.4rem;
  }

  @include breakpoint($mobile-sm) {
    font-size: 1.6;
    line-height: 1.375;
  }
}

.typ--caps {
  text-transform: uppercase;
}

// font weights
.typ--book { @include font(book); }

.typ--bold,
b,
strong {
  @include font(bold);
}

.typ--heavy {
  @include font(heavy);
}

// font modifiers
.actionable { cursor: pointer; }

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

// font modifiers
sup {
  vertical-align: super;
  font-size: smaller;
}

.typ--link {
  cursor: pointer;
}

.typ--not__link {
  cursor: default;
}

// font alignment
.typ--center {
  text-align: center;
}

.typ--light {
  color: $medium-gray;
}

.typ--left {
  text-align: left;
}

.typ--right {
  text-align: right;
}

.menu-links {
  background: linear-gradient(157deg, #98049F, #CD307B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
