// default font scaling
html {
  @include font(book);
  font-size: 10px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

// font sizes
body,
.typ--default {
  @include font-size(default);
  color: $body;
}

.typ--aux { @include font-size(sm); }

h1,
.typ--h1 {
  @include font-size(h1);
}

h2,
.typ--h2 {
  @include font-size(h2);
}

h3,
.typ--h3 {
  @include font-size(h3);
}

.typ--b1 {
  @include font(book);
  font-size: 3.6rem;
  line-height: 1.35;
  letter-spacing: normal;
  // media queries
  @include breakpoint($tablet-lg) {
    font-size: 3rem;
  }
  @include breakpoint($mobile-lg) {
    font-size: 2.4rem;
  }
  @include breakpoint($mobile-sm) {
    font-size: 2.2rem;
  }
}

.typ--b2 {
  @include font(book);
  font-size: 3rem;
  line-height: 1.375;
  letter-spacing: normal;
  // media queries
  @include breakpoint($tablet-lg) {
    font-size: 2.6rem;
  }
  @include breakpoint($mobile-lg) {
    font-size: 2rem;
  }
  @include breakpoint($mobile-sm) {
    font-size: 1.8rem;
  }
}

.typ--b3 {
  @include font(book);
  font-size: 2rem;
  line-height: 1.6;
}

.typ--button {
  @include font(heavy);
  font-size: 2.6rem;
  letter-spacing: .03rem;
  line-height: 1.35;
  // media queries
  @include breakpoint($tablet-lg) {
    font-size: 2rem;
  }
  @include breakpoint($mobile-sm) {
    font-size: 1.8rem;
  }
}

.typ--menu {
  @include font(heavy);
  font-size: 6.4rem;
  line-height: 1.1538461;
  letter-spacing: .03rem;
  // media queries
  @include breakpoint($mobile-lg) {
    font-size: 5.2rem;
  }
  @include breakpoint($mobile-sm) {
    font-size: 4.8rem;
  }
}

.typ--caps {
  text-transform: uppercase;
}

// font weights
.typ--book { @include font(book); }

.typ--bold,
b,
strong {
  @include font(bold);
}

// font modifiers
.actionable { cursor: pointer; }

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

// font modifiers
sup {
  vertical-align: super;
  font-size: smaller;
}

.typ--link {
  cursor: pointer;
}

.typ--not__link {
  cursor: default;
}

// font alignment
.typ--center {
  text-align: center;
}

.typ--light {
  color: $medium-gray;
}

.typ--left {
  text-align: left;
}

.typ--right {
  text-align: right;
}

.menu-links {
  background: linear-gradient(157deg, #98049F, #CD307B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
