@import 'sass-includes';

.footer {
  clear: both;
  width: 100%;
}

.footer__tall {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  background: #fff;
}

.footer__center {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.content-main .footer {
  z-index: 1;
  // background: $white;
  position: relative;
}

.footer ul {
  float: left;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-bottom: 0.4rem;
  }
}

.footer .contact-info {
  font-size: 1.4rem;
  float: right;
  text-align: right;
  // media queries
  @include breakpoint($mobile-sm) {
    // font-size: 1.6rem;
    float: left;
    text-align: left;
    line-height: 2;
    width: 100%;
  }
}

.footer .social-icons {
  font-size: 2.2rem;

  [class^='icon-'] {
    color: #4A4A4A;
  }
}
