@import 'sass-includes';

.footer {
  background: $background-gray;
  clear: both;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  @include breakpoint($mobile-lg) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.nav .footer { background: transparent; }

.footer__tall {
  display: flex;
  align-items: flex-end;
}

.content-main .footer {
  z-index: 1;
  position: relative;
}

.footer ul {
  float: left;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-bottom: 0.4rem;
  }
}

.footer__home {
  // media queries
  @include breakpoint($mobile-lg) {
    margin-top: 5rem;
  }
}

.footer .contact-info {
  font-size: 1.4rem;
  float: right;
  text-align: right;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-top: 2.4rem;
  }
  @include breakpoint($mobile-md) {
    float: left;
    text-align: left;
    line-height: 2;
    width: 100%;
    padding-top: 0.5rem;
  }
}

.footer .social-icons {
  font-size: 2.2rem;
  padding-top: 2rem;

  @include breakpoint($mobile-lg) {
    margin-left: -0.4rem;

    li {
      margin-right: 1.5rem;
    }
  }

  [class^='icon-'] {
    color: $black;
  }
}

html:not(.is-touchdevice) {
  .footer .social-icons [class^='icon-']:hover {
    color: $redshift;
  }
}
