/* Parallax base styles
--------------------------------------------- */

.parallax {
  // media queries
  @include breakpoint($mobile-lg, min-width) {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }
}

.parallax__group {
  // media queries
  @include breakpoint($mobile-lg, min-width) {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
}

.parallax__layer--base {
  // media queries
  @include breakpoint($mobile-lg, min-width) {
    transform: translateZ(0);
    z-index: 4;
  }
}

.parallax__layer--back {
  // media queries
  @include breakpoint($mobile-lg, min-width) {
    transform: translateZ(-150px) scale(1.5);
    z-index: 3;
  }
}

.parallax__layer--fore {
  // media queries
  @include breakpoint($mobile-lg, min-width) {
    transform: translateZ(24px) scale(0.92);
    z-index: 1;
  }
}
