@import 'sass-includes';

.about__clients {
  padding-top: 20rem;
  h1 {
    text-align: center;
    @include breakpoint($mobile-lg) {
      text-align: left;
    }
  }
  @include breakpoint($mobile-lg) {
    padding-top: 5rem;
  }
}


.clients {
  @extend %clearfix;
  width: calc(100% + 6rem);
  margin-left: -3rem;
  // media queries
  @include breakpoint($mobile-lg) {
    margin-top: 5rem;
  }

  @include breakpoint($mobile-xsm) {
    margin-top: 3rem;
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
  }
}

.clients__client:nth-child(3n-1) {
  border-left: solid 1px $medium-gray;
  border-right: solid 1px $medium-gray;
  // media queries
  @include breakpoint($tablet-sm) {
    border: 0;
  }
}

.clients__client {
  width: 33.3333%;
  float: left;
  height: 14rem;
  position: relative;
  // media queries
  @include breakpoint($desktop-lg) {
    width: 33.3333333%;
  }

  @include breakpoint($tablet-sm) {
    width: 50%;
  }

  @include breakpoint($mobile-lg) {
    height: 10rem;
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 12rem;
    width: 80%;

    // media queries
    @include breakpoint(2000px) {
      padding: 0 10rem;
    }

    @include breakpoint(1700px) {
      padding: 0 8rem;
    }

    @include breakpoint(1550px) {
      padding: 0 6.5rem;
    }

    @include breakpoint($desktop-lg) {
      padding: 0 5rem;
    }

    @include breakpoint($tablet-md) {
      padding: 0 3rem;
    }

    @include breakpoint($mobile-xsm) {
      padding: 0 1.5rem;
    }
  }
}
