@import 'sass-includes';

.about__clients {
  z-index: 8;
  position: relative;
  max-width: 144rem;
  margin: 0 auto;

  h1 {
    text-align: center;
    @include breakpoint($mobile-lg) {
      text-align: left;
    }
  }
  @include breakpoint($mobile-lg) {
    padding-top: 2rem;
  }
}

.client__text {
  margin-top: 18rem;
  @include breakpoint($mobile-lg) {
    margin-top: 4rem;
  }
}

.clients__client {
  width: 50%;
  float: left;
  height: 14rem;
  position: relative;
  // media queries
  @include breakpoint($mobile-lg) {
    height: 10rem;
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 6rem;
    width: 80%;
    // media queries
    @include breakpoint(1550px) {
      padding: 0 6.5rem;
    }
    @include breakpoint($desktop-lg) {
      padding: 0 5rem;
    }
    @include breakpoint($tablet-lg) {
      padding: 0 3rem;
    }
    @include breakpoint($mobile-sm) {
      padding: 0 1rem;
    }
  }
}
