@import 'sass-includes';

.archive {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.archive__item {
  background: #fafafa;
  min-height: 40rem;
  position: relative;
}

.archive__name {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}
