@import 'sass-includes';

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir='rtl'] & { float: right; }

  img {
    width: 100vw;
    height: auto;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 7.5rem;
  width: 7.5rem;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: $redshift;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: 0;
  outline: none;
  transition: 0.3s;

  &:hover,
  &:focus {
    outline: none;

    &:before {
      opacity: 0.75;
    }
  }

  &:before {
    font-family: Avenir-Black, sans-serif;
    line-height: 1;
    content: '';
    height: 3rem;
    width: 3rem;
    background-color: $white;
    border-radius: 50%;
    display: block;
    margin: 2rem;
  }
}

.slick-prev {
  border-radius: 0 50% 50% 0;
  left: 0;
  z-index: 2;

  [dir='rtl'] & {
    left: auto;
    right: 0;
  }

  &:hover {
    left: -1rem;
  }
}

.slick-next {
  border-radius: 50% 0 0 50%;
  right: 0;
  z-index: 2;

  [dir='rtl'] & {
    left: 0;
    right: auto;
  }

  &:hover {
    right: -1rem;
  }
}
