@import 'sass-includes';

.about--header {
  @include breakpoint($tablet-lg) {
    bottom: 32%;
  }
   @include breakpoint($mobile-lg) {
    bottom: 17%;
  }
}

.video_mask {
  width: 60rem;
  height: 60rem;
  border-radius: 50%;
  // -webkit-mask-image: -webkit-radial-gradient(circle,#fff 100%,#000 0);
  right: -5%;
  top: 15%;
  overflow: hidden;
  @include breakpoint($desktop-sm) {
    width: calc(100vw - 60rem);
    height: calc(100vw - 60rem);
  }
  @include breakpoint($tablet-lg) {
    height: calc(100vw - 40rem);
    width: calc(100vw - 40rem);
  }
  @include breakpoint($mobile-lg) {
    height: calc(100vw - 25rem);
    width: calc(100vw - 25rem);
  }
  @include breakpoint($mobile-sm) {
    height: calc(100vw - 15rem);
    width: calc(100vw - 15rem);
  }
}

.video_remove_mask {
  width: 100%;
  height: 100%;
  border-radius: 0;
  right: 0;
  top: 0;

}

.about--transition {
  transition: all 0.8s ease;
}

.about--image {
  display: flex;
  height: 50vh;
  position: absolute;
  top: 0;
}

.about--curve-container {
  position: relative;
  width: calc(100vw - 10%);
  height: calc(100vw - 10%);
  border-radius: 50%;
  border: solid 1px $medium-gray;
  bottom: -20%;
  left: -5%;
}

.about--curve-container > div {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(50vw - 5%);
  width: calc(50vw - 5%);
  transform-origin: bottom right;
}

.about--explore-text {
  @include breakpoint($desktop-sm) {
    font-size: 2.4rem;
  }
}

.about--curve-container > div:after {
  font-size: 3.6rem;
  @include font(bold);
  left: -3rem;
  bottom: 1.8rem;
}

.about--curve-container > div:before {
  bottom: 0px;
  left: 0px;
}

.about--curve-container > div:after,
.about--curve-container > div:before {
  position: absolute;
  content: '';
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.about--curve-container > div:nth-child(1) {
  transform: rotate(118deg);
}
.about--curve-container > div:nth-child(2) {
  transform: rotate(131deg);
}
.about--curve-container > div:nth-child(3) {
  transform: rotate(143deg);
}
.about--curve-container > div:nth-child(4) {
  transform: rotate(155deg);
}

.about--curve-container > div:nth-child(n+1):before {
  background: $redshift;
}
.about--curve-container > div:nth-child(n+2):before {
  background: #E33170;
}
.about--curve-container > div:nth-child(n+3):before {
  background: #BE3C97;
}
.about--curve-container > div:nth-child(n+4):before {
  background: #BE3C97;
}

.about--curve-container > div:nth-child(n+1):after {
  content: "Research";
  transform: rotate(-118deg);
}
.about--curve-container > div:nth-child(n+2):after {
  content: "Engineering";
  transform: rotate(-131deg);
}
.about--curve-container > div:nth-child(n+3):after {
  content: "Visual";
  transform: rotate(-143deg);
}
.about--curve-container > div:nth-child(n+4):after {
  content: "UX";
  transform: rotate(-155deg);
}

.about-curve {
  &:before {
    content: '';
    background-color: $redshift;
    display: block;
    margin: 1.3rem auto;
    position: relative;
    border-radius: 50%;
  }
}

.about-curve img {
  top: 30rem;
  position: relative;
}

.about-gradient {
  background: rgb(236, 0, 94); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(236, 0, 94, 1) 0%, rgba(255, 0, 172, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(236, 0, 94, 1) 0%, rgba(255, 0, 172, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(236, 0,94, 1) 0%, rgba(255, 0, 172, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec005e', endColorstr='#ff00ac',GradientType=0 ); /* IE6-9 */
}

.about__office-image img {
  width: 100%;
}

.about__process video {
  // margin: 4rem;
  width: 100%;
}

.about__process__img {
  width: 100%;
  padding: 3rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding: 1rem;
  }
}

.about__clients {
  background: $dark-grey;
}

// .about--process__flex {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding-top: 14rem;
//   // media queries
//   @include breakpoint($tablet-md) {
//     display: block;
//   }
//   @include breakpoint($mobile-lg) {
//     padding-top: 15rem;
//   }

//   h4 {
//     @include breakpoint($mobile-lg) {
//       line-height: 2;
//     }
//   }
// }

// .about--process__image {
//   max-height: 66rem;
//   // media queries
//   @include breakpoint($tablet-md) {
//     text-align: center;
//   }
// }

.about section {
  position: relative;
}

.about--clients h2 {
  width: 69%;
  // media queries
  @include breakpoint($mobile-lg) {
    width: 100%;
  }
}

// Team
.about {
  .modal__close {
    @extend %page-margins;
    right: 0;
    text-align: right;

    .icon-close {
      color: $body;
      left: 0;
    }
  }
}

.team-member__modal {
  background-repeat: no-repeat;
  background-position: right;
  background-color: $white;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  // media queries
  @include breakpoint($mobile-lg) {
    width: 100%;
    overflow-y: scroll;
  }
}

.about--team {
  img {
    display: block;
  }

  .team-member {
    position: relative;
    overflow: hidden;
    height: auto;
    // text-transform: lowercase;
    cursor: pointer;
  }

  .member__name {
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .member__position {
    padding-right: 5rem;
  }

  .member__name,
  .member__position {
    @include font-size(h4);
    width: 100%;
    display: block;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }

  h2 {
    line-height: 1.2;
    padding-bottom: 0.5rem;
    // media queries
    @include breakpoint($mobile-lg) {
      line-height: 1.45;
    }

    @include breakpoint($mobile-sm) {
      line-height: 1.2;
      padding: 0;
    }
  }

  h4 {
    line-height: 1.333;
    @include breakpoint($mobile-sm) {
      line-height: 1.1;
      padding: 0;
    }
  }

  h2,
  h4 {
    // media queries
    @include breakpoint($mobile-lg) {
      font-size: 2.496rem;
    }
    @include breakpoint($mobile-sm) {
      font-size: 2rem;
    }
  }

  .quarter-width {
    //media queries
    @include breakpoint($tablet-md) {
      width: 50%;
    }
  }
}

.team-member-bio {
  position: relative;
  z-index: 9;
  // height: 100%;
  width: 50%;
  // media queries

  @include breakpoint($tablet-md) {
    width: 100%;
  }

  @include breakpoint($mobile-lg) {
    transform: none;
    top: 5rem;
  }

  h2 {
    text-transform: lowercase;
    // media queries
    @include breakpoint($desktop-lg) {
      font-size: 3.6rem;
    }

    @include breakpoint($mobile-lg) {
      font-size: 2.8rem;
      line-height: 1.65;
    }
  }

  h5 {
    background-color: #fff;
    // media queries
    @include breakpoint($desktop-lg) {
      font-size: 2.1rem;
    }

    @include breakpoint($mobile-lg) {
      font-size: 1.4rem;
    }
  }
}

.bio--wrap {
  height: 100%;
  display: flex;
  align-items: center;
  // media queries
  @media screen and (max-height: 680px) {
    align-items: flex-start;
    height: auto;
  }
  @include breakpoint($tablet-md) {
    position: relative;
  }
}

.bio--wrap__img {
  height: 100%;
  text-align: center;
  img {
    height: 100%;
    width: auto;
    position: absolute;
    @media screen and (max-height: 680px) {
      min-height: 67.5rem;
    }
  }
}

.about .modal__wrap .icon-close {
  left: -1rem;
  &:before {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 1rem;
  }
}
