@import 'sass-includes';

.showcase__wrapper .hero {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;

  h1 {
    @media (max-width: 767px) and (orientation: landscape) {
      font-size: 3rem;
    }
  }
}

.scrolltrigger {
  @extend %page-margins;
  z-index: 10;
  pointer: cursor;
  position: fixed;
  bottom: 2.8rem;
  left: 0;
  pointer-events: auto;
}
