@import 'sass-includes';

html {
  //media queries
  @include breakpoint($desktop-sm) {
    max-height: 200rem;
  }
  @include breakpoint($tablet-md) {
    max-height: none;
  }
}

.content-main { overflow: hidden; }

.showcase {
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
  padding: 0 1.5rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
  background: transparent;
}

.hero h1 {
  @media (max-width: 767px) and (orientation: landscape) {
    font-size: 3rem;
  }
}

.scene {
  // position: relative;
  position: fixed;
  top: 0;
  left: 0;
  // overflow: hidden;
  color: $white;
  height: 100vh;
}

.scene__cta {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 2;
  font-size: 2rem;
  pointer-events: none;
  top: 0;
  //media queries
  @include breakpoint($tablet-sm) {
    text-align: left;
  }

  a { pointer-events: auto; }

  > div {
    height: auto;
    position: absolute;
    bottom: 30vh;
    // media queries
    @include breakpoint($tablet-sm) {
      bottom: 15rem;
    }
    @include breakpoint($mobile-sm) {
      bottom: 12rem;
    }
    @media only screen and (max-height: 400px) {
      bottom: 11rem;
    }
  }
}

.scene__cta h2 {
  // media queries
  @include breakpoint($mobile-lg) {
    font-size: 2.4rem;
  }
}

.scent__cta .scene__link {
  // media queries
  @include breakpoint($mobile-lg) {
    font-size: 1.4rem;
  }
}

.scene__caption {
  width: 100%;

  span { display: block; }
}

.scene__device__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.scene__device__body {
  position: relative;
  z-index: 2;
}

.scene__device__shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.scene__device {
  will-change: transform;
  position: fixed;
  z-index: 1;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  // media queries
  @include breakpoint($tablet-sm) {
    top: 45.7%;
  }

  img {
    max-width: none;
    width: 100%;
  }
}

.scene__link {
  color: $white;
  margin: 4rem 0 6rem;
  padding-bottom: 1.5rem;
  width: 12.1rem;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 0;
  // media queries
  @include breakpoint($mobile-lg) {
    margin-top: 2rem;
    padding-bottom: 1rem;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0.2rem;
    background: $white;
    display: block;
    width: 5rem;
    transition: width 0.2s ease-in-out;
  }

  &:hover:after {
    width: 100%;
  }
}

.sc__norton,
.sc__yumavore {
  .scene__cta {
    left: 0;
    text-align: left;
  }

  .scene__cta > div {
    left: 0;
  }

  .scene__link {
    &:after {
      left: 0%;
    }
  }
}


.sc__nexus,
.sc__five,
.sc__kaiser {
  .scene__cta {
    right: 0;
    text-align: right;
  }

  .scene__link {
    right: 0;
    left: auto;

    &:after {
      right: 0;
    }
  }

  .scene__cta > div {
    right: 0;
  }
}

// case study specific styles
.sc__norton {
  .scene__device {
    width: 64%;
    right: -10%;
    top: 52.2%;
    // media queries
    @include breakpoint($tablet-sm) {
      right: -3.1rem;
      width: 112%;
      top: 46.5%;
    }
    @media (max-width: 767px) and (orientation: landscape) {
      width: 95%;
      right: -9.1rem;
    }
  }
}

.sc__kaiser {
  .scene__device {
    left: -21%;
    width: 100%;
    top: 74%;
    // media queries
    @include breakpoint($tablet-md) {
      width: 112%;
      top: 64%;
    }
    @include breakpoint($tablet-sm) {
      width: 116%;
      top: 56%;
    }
    @include breakpoint($mobile-lg) {
      width: 120%;
      left: -16%;
      top: 56%;
    }
    @media (max-width: 767px) and (orientation: landscape) {
      left: -50%;
      width: 125%;
    }
  }
}

.sc__nexus {
  .scene__device {
    left: -61%;
    width: 124%;
    top: 51.4%;
    // media queries
    @include breakpoint($tablet-sm) {
      left: -68%;
      width: 171%;
      top: 42.4%;
    }
    @include breakpoint($mobile-lg) {
      left: -65%;
      width: 165%;
    }
    @media (max-width: 767px) and (orientation: landscape) {
      left: -50%;
      width: 125%;
    }
  }
}

.sc__yumavore {
  .scene__device {
    right: -23%;
    width: 96%;
    top: 47%;
    float: right;
    // media queries
    @include breakpoint($tablet-sm) {
      top: 47%;
      right: -18%;
      width: 124%;
    }
    @include breakpoint($mobile-lg) {
      top: 37%;
      right: -29%;
      width: 165%;
    }
    @media (max-width: 767px) and (orientation: landscape) {
      right: -15%;
      width: 92%;
    }
  }
}

.sc__five {
  .scene__device {
    width: 68%;
    left: -2.5%;
    // media queries
    @include breakpoint($tablet-sm) {
      width: 169%;
      left: -47.5%;
      top: 48.7%;
    }
    @include breakpoint($mobile-sm) {
      width: 197%;
      left: -58.5%;
    }
    @media (max-width: 767px) and (orientation: landscape) {
      width: 79%;
      left: -4.5%;
    }
  }
}

.device-shadow-g {
  fill: $black;
  fill-opacity: 0.15;
}
