@import 'sass-includes';

.showcase {
  overflow-y: hidden;
  position: relative;
}

.hero h1 {
  @media (max-width: 767px) and (orientation: landscape) {
    font-size: 3rem;
  }
}

.scene {
  position: relative;
  overflow: hidden;
  // z-index: 1;
  color: $white;
  height: 150vh;
  // border: 1px solid black;
}

.scene__cta {
  height: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  width: 56.7rem;
  z-index: 2;
  font-size: 2rem;
  top: 0;
  // media queries
  // @include breakpoint($tablet-sm) {
  //   width: 100%;
  //   text-align: left;
  //   top: 67.6%;
  // }
  // @media (max-width: 767px) and (orientation: landscape) {
  //   top: 62.3%;
  // }

  > div {
    position: absolute;
  }
}

.scene__cta h2 {
  // media queries
  @include breakpoint($mobile-lg) {
    font-size: 2.4rem;
  }
}

.scent__cta .scene__link {
  // media queries
  @include breakpoint($mobile-lg) {
    font-size: 1.4rem;
  }
}

.scene__caption {
  width: 100%;
  span { display: block; }
}

.scene__device__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.scene__device__body {
  position: relative;
  z-index: 2;
}

.scene__device__shadow {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.scene__device {
  will-change: transform;
  position: fixed;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  // media queries
  @include breakpoint($tablet-sm) {
    top: 45.7%;
  }


  path {
    fill: transparent;
    stroke: $white;
  }

  img {
    max-width: none;
    width: 100%;
  }
}

.scene__link {
  color: $white;
  position: relative;
  padding: 6rem 0;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 4.3rem;
    height: 0.2rem;
    background: $white;
    transform: translateX(-50%);
    display: block;
    width: 50%;
    // media queries
    @include breakpoint($tablet-sm) {
      height: 0.1rem;
      left: 2.5rem;
      bottom: 4.8rem;
    }
  }
}

.sc__norton,
.sc__yumavore {
  .scene__cta {
    left: 0;
    text-align: left;
  }

  .scene__link {
    &:after {
      left: 25%;
    }
  }
}


.sc__nexus,
.sc__five,
.sc__kaiser {
  .scene__cta {
    right: 0;
    text-align: right;
  }

  .scene__link {
    &:after {
      left: 75%;
    }
  }
}

// case study specific styles
.sc__norton {
  .scene__cta > div {
    top: 57.6%;
    // media queries
    @include breakpoint($tablet-sm) {
      top: 67.4%;
    }
    @media (max-width: 767px) and (orientation: landscape) {
      top: 62.3%;
    }
  }

  .scene__device {
    width: 64%;
    right: -10%;
    top: 52.2%;
    // media queries
    @include breakpoint($tablet-sm) {
      right: 6.9rem;
      width: 152%;
      top: 46.5%;
    }
    @media (max-width: 767px) and (orientation: landscape) {
      width: 95%;
      right: -9.1rem;
    }
  }
}

.sc__kaiser {
  .scene__device {
    left: -30%;
    // media queries
    @include breakpoint($tablet-lg) {
      left: -102%;
      width: 219%;
    }
  }

  .scene__cta > div {
    right: 0;
    margin-top: calc(25vh - 5.1rem);
    // media queries
    @include breakpoint($tablet-sm) {
      margin-top: 0;
    }
  }
}

.sc__nexus {
  .scene__cta > div {
    right: 0;
    top: 57%;
    // media queries
    @include breakpoint($tablet-sm) {
      margin-top: 0;
      top: 66.3%;
    }
    @media (max-width: 767px) and (orientation: landscape) {
      top: 62.3%;
    }
  }

  .scene__device {
    left: -61%;
    width: 124%;
    top: 51.4%;
    // media queries
    @include breakpoint($tablet-sm) {
      left: -112%;
      width: 242%;
      top: 46.4%;
    }
    @media (max-width: 767px) and (orientation: landscape) {
      left: -50%;
      width: 125%;
    }
  }
}

.sc__yumavore {
  .scene__cta > div {
    left: 0;
    margin-top: calc(50vh - 22.6rem);
    // media queries
    @include breakpoint($tablet-sm) {
      margin-top: 0;
    }
  }

  .scene__device {
    right: -23%;
    width: 96%;
    top: 47%;
    float: right;
    // media queries
    @include breakpoint($tablet-sm) {
      top: 43%;
      right: -29%;
      width: 165%;
    }
    @media (max-width: 767px) and (orientation: landscape) {
      right: -15%;
      width: 92%;
    }
  }
}

.sc__five {
  .scene__cta > div {
    right: 4vw;
    margin-top: calc(25vh - 5.1rem);
    // media queries
    @include breakpoint($tablet-sm) {
      margin-top: 0;
    }
  }

  .scene__device {
    width: 68%;
    left: -2.5%;
    // media queries
    @include breakpoint($tablet-sm) {
      width: 169%;
      left: -47.5%;
      top: 48.7%;
    }
    @include breakpoint($mobile-sm) {
      width: 197%;
      left: -58.5%;
    }
    @media (max-width: 767px) and (orientation: landscape) {
      width: 79%;
      left: -4.5%;
    }
  }
}
