@import 'sass-includes';

.dropdown--simple {
  .dropdown__menu {
    background: $medium-navy;
    left: -2.5rem;
    top: 5.6rem;
    border: 0.2rem solid $border;
  }

  .dropdown__toggle {
    @include font-size(h1);
    padding: 0;
    border: 0;
    color: $actionable;
    background: linear-gradient(to right, #01A3D3 0%, #5BEAC8 24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dropdown__icon {
    @extend .icon;
    @extend .icon-down-24;
    position: relative;
    color: $white;
    font-size: 2.5rem;
    top: 0.5rem;
    padding-left: 1.3rem;
    background: linear-gradient(to right, #01A3D3 0%, #5BEAC8 24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dropdown__item:not(.is-active) {
    color: $white;

    &:hover {
      color: $light-blue;
    }
  }

  .dropdown__item.is-active {
    @include font(medium);
    color: $actionable;
    background: linear-gradient(to right, #01A3D3 0%, #5BEAC8 24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.is-open {
    .dropdown__toggle {
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .dropdown__icon {
      color: $actionable;
    }
  }
}
