.theme--dark {
  color: $white;
}

.theme--dark .btn {
  color: $white;
}

html,
a {
  color: $body;
}

.typ--yumavore {
  color: $redshift;
}

%gradient-text {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.typ--kaiser {
  color: $kaiser;
}

.typ--norton {
  color: $norton;
}

.bg--norton {
  background-color: $norton-light;
}

.typ--nexus {
  color: $nexus;
}

.bg--nexus {
  background-color: $nexus-light;
}

.typ--five {
  color: $five;
}

.typ--jobs {
  color: $careers;
}

.typ--white {
  color: $white;
}
