html,
a {
  color: $body;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.theme--dark,
.theme--dark a,
.theme--dark .btn,
.theme--dark .social-icons [class^='icon-'] {
  color: $white;
}

.typ--yumavore {
  color: $yumavore;
}

.bg--yumavore {
  background-color: $yumavore;
}

.theme--gray {
  background-color: $background-gray;
}

%gradient-text {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.typ--redshift {
  color: $redshift;
}

.bg--redshift {
  background-color: $redshift;
}

.typ--kaiser {
  color: $kaiser;
}

.bg--kaiser {
  background-color: $kaiser;
}

.typ--norton {
  color: $norton;
}

.bg--norton {
  background-color: $norton;
}

.typ--nexus {
  color: $nexus;
}

.bg--nexus {
  background-color: $nexus;
}

.typ--five {
  color: $five;
}

.bg--five {
  background-color: $five;
}

.typ--jobs {
  color: $careers;
}

.typ--white {
  color: $white;
}

.bg--white {
  background-color: $white;
}
