html,
a {
  color: $body;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rs--gradienttext {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF2959), to(#FF29BD));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.theme--dark,
.theme--dark a,
.theme--dark .btn,
.theme--dark .social-icons [class^='icon-'] {
  color: $white;
  &:hover {
    color: $black;
  }
}

.typ--yumavore {
  color: $yumavore;
}

.bg--yumavore {
  background-color: $yumavore;
}

.theme--gray {
  background-color: $background-gray;
}

%gradient-text {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.typ--redshift {
  color: $redshift;
}

.typ--black {
  color: $black;
}

.typ--ruby {
  color: $ruby;
}

.typ--indigo {
  color: $indigo;
}

.typ--plum {
  color: $plum;
}

.bg--redshift {
  background-color: $redshift;
}

.typ--kaiser {
  color: $kaiser;
}

.bg--kaiser {
  background-color: $kaiser;
}

.typ--norton {
  color: $norton;
}

.bg--norton {
  background-color: $norton;
}

.typ--nexus {
  color: $nexus;
}

.bg--nexus {
  background-color: $nexus;
}

.typ--five {
  color: $five;
}

.bg--five {
  background-color: $five;
}

.typ--jobs {
  color: $careers;
}

.typ--white {
  color: $white;
}

.typ--medium-gray {
  color: $medium-gray;
}

.typ--light-gray {
  color: $light-gray;
}

.bg--white {
  background-color: $white;
}
