@import 'sass-includes';

.casestudy__modal {
  .modal__close {
    .icon-hamburger {
      float: left;
    }

    .icon-hamburger.close-icon span {
      background: $white;
      // media queries
      @include breakpoint($mobile-lg) {
        background: $redshift;
      }
    }
  }
}

.casestudy__title {
  top: 45%;
  transform: translateY(-50%);
  position: relative;
}

.modal__close.row {
  padding-left: 2.8rem;
  padding-right: 2.8rem;
  // media queries
  @include breakpoint($mobile-sm) {
    padding-left: 1.8rem;
  }
}

.video-container {
  background-color: #FFFFFF;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.video-image {
  width: 100%;
  position: absolute;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.casestudy__name {
  color: $medium-gray;
}

.casestudy__dots {
  position: absolute;
  bottom: 7rem;
  text-align: center;
  @media (max-width: 767px) and (orientation: landscape) {
    bottom: 3rem;
  }
}

.casestudy__dot {
  animation: pulse 1.5s 2;
  margin-bottom: 1rem;
  border-radius: 50%;
  opacity: 0;
  // background-color: rgb(255, 199, 0);
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.8;
  }

  50% {
    opacity: 0;
  }
}

.dot--one {
  height: 1rem;
  width: 1rem;
}

.dot--two {
  animation-delay: 0.5s;
  height: 1.1rem;
  width: 1.1rem;
}

.dot--three {
  animation-delay: 0.75s;
  height: 1.2rem;
  width: 1.2rem;
}

.casestudy__next--sidebar {
  width: 8rem;
  height: 100%;
  float: left;
  position: absolute;
  // media queries
  @include breakpoint($mobile-lg) {
    display: none;
  }
}

.casestudy__next--text {
  padding-left: 8rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-left: 0;
  }
}

.casestudy__next {
  background-color: $light-gray;
  min-height: 18.5rem;
  cursor: pointer;
  width: 100%;
  bottom: 0;
  left: -8rem;
  position: absolute;
  z-index: 1;
  // media queries
  @include breakpoint($mobile-lg) {
    min-height: 13.5rem;
    left: 0;
  }

  .row {
    top: 5.3rem;
    // media queries
    @include breakpoint($mobile-lg) {
      top: 4rem;
    }
  }
}

.casestudy__heading {
  height: calc(100vh - 5rem);
  max-width: 100rem;
  // padding-top: 16rem;
  // padding-bottom: 4rem;
  position: relative;
  // media queries
  // @include breakpoint($tablet-lg) {
  //   padding-top: 10rem;
  //   padding-bottom: 15rem;
  // }
  // @include breakpoint($mobile-sm) {
  //   padding-top: 6rem;
  //   padding-bottom: 9rem;
  // }
}

.casestudy__text {
  max-width: 125rem;
  color: $lighttext;
  // media queries
  @include breakpoint($mobile-lg) {
    width: 100%;
  }
}

.casestudy__scroll {
  position: fixed;
  z-index: 10;
  bottom: 2.8rem;
  font-size: 5.8rem;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  left: 7.5rem;
  // media queries
  @include breakpoint($mobile-lg) {
    left: 2rem;
  }
}

.casestudy__arrows {
  font-size: 12rem;
}

.casestudy__modal .modal__with-sidebar > div {
  padding-bottom: 18.5rem;
  // media queries
  @include breakpoint($mobile-sm) {
    padding-bottom: 13.5rem;
  }
}
