@import 'sass-includes';

.casestudy__modal {
  .modal__close {
    .icon-hamburger {
      float: left;
      // media queries
      @include breakpoint($mobile-lg) {
        float: right;
      }
    }

    .icon-hamburger.close-icon span {
      background: $white;
      // media queries
      @include breakpoint($mobile-lg) {
        background: $black;
      }
    }
  }
}

.casestudy__title {
  top: 45%;
  transform: translateY(-50%);
  position: relative;

  > div > div {
    opacity: 0;
  }
}

.modal__close.row {
  padding-left: 2.8rem;
  padding-right: 2.8rem;
  width: auto;
  // media queries
  @include breakpoint($mobile-sm) {
    padding-left: 1.8rem;
  }
}

.video-container {
  background-color: #FFFFFF;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.video-image {
  width: 100%;
  position: absolute;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.casestudy__name {
  color: $medium-gray;
  padding-top: 4.1rem;
  //media queries
  @include breakpoint($mobile-lg) {
    padding-top: 3.2rem;
  }
}

.casestudy__scrollarrow {
  position: absolute;
  bottom: 8rem;
  opacity: 0;
  animation: pulse 3s;
  animation-delay: 1.2s;
   //media queries
  @include breakpoint($mobile-lg) {
    bottom: -1rem;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    bottom: 5rem;
  }
  2.5% { opacity: 1; }
  10% {
    opacity: 1;
    bottom: 2rem;
  }
  // 15% { opacity: 1; bottom: 8rem; }
  25% {
    opacity: 1;
    bottom: 4rem;
  }
  35% {
    opacity: 1;
    bottom: 2rem;
  }
  // 40% { opacity: 1; bottom: 8rem; }
  47.5% {
    opacity: 1;
    bottom: 3rem;
  }
  // 52.5% { opacity: 1; bottom: 9rem;}
  60% {
    opacity: 1;
    bottom: 2rem;
  }
  // 65% { opacity: 1; bottom: 8rem; }
  75% {
    opacity: 1;
    bottom: 4rem;
  }
  // 85% { opacity: 1; bottom: 8rem; }
  90% {
    opacity: 1;
    bottom: 2rem;
  }
  99.5% {
    opacity: 0;
  }
  90% {
    bottom: 0;
    opacity: 0;
  }
}

.casestudy__next--sidebar {
  width: 8rem;
  height: 100%;
  float: left;
  position: absolute;
  // media queries
  @include breakpoint($mobile-lg) {
    width: 1rem;
  }
}

.casestudy__next--text {
  padding-left: 8rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-left: 1rem;
  }
}

.casestudy__next {
  background-color: $light-gray;
  min-height: 17.2rem;
  cursor: pointer;
  width: calc(100% + 8rem);
  bottom: 0;
  left: -8rem;
  position: absolute;
  z-index: 1;
  // media queries
  @include breakpoint($mobile-lg) {
    min-height: 11.5rem;
    width: calc(100% + 1rem);
    left: -1rem;
  }

  .row {
    top: 5.3rem;
    // media queries
    @include breakpoint($mobile-lg) {
      top: 3.3rem;
    }
  }
}

.casestudy__heading {
  height: calc(100vh - 5rem);
  max-width: 132rem;
  position: relative;
  // media queries
  @media only screen and (max-height: 430px) {
    height: auto;
  }

  .casestudy__title {
    font-size: 6rem;
    //media queries
    @media only screen and (max-height: 430px) {
      top: 0;
      transform: none;
      padding: 3rem 0 12rem;
    }
    @include breakpoint($desktop-sm) {
      font-size: 6rem;
    }
    @include breakpoint($tablet-lg) {
      font-size: 5.2rem;
    }
    @include breakpoint($mobile-lg) {
      font-size: 4.2rem;
    }
    @include breakpoint($mobile-sm) {
      font-size: 2.8rem;
    }
  }
}

.casestudy__text {
  max-width: 125rem;
  color: $lighttext;
  margin: 0 auto;
  // media queries
  @include breakpoint($mobile-lg) {
    width: 100%;
  }
}

.casestudy__scroll {
  position: fixed;
  z-index: 10;
  bottom: 2.8rem;
  font-size: 5.8rem;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  left: 7.5rem;
  // media queries
  @include breakpoint($mobile-lg) {
    left: 2rem;
  }
}

.casestudy__arrows {
  font-size: 12rem;
}

.casestudy__modal .modal__with-sidebar > div {
  padding-bottom: 17rem;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-bottom: 11.4rem;
  }
}

.video--laptop {
  .video-container {
    padding: 6.2% 0 8%;
    max-width: 60%;
  }
}

.video--ipad {
  .video-container {
    max-width: 36.5%;
    padding: 9.1% 0;
    // media queries
    @include breakpoint($tablet-lg) {
      max-width: 42.5%;
    }
    @include breakpoint($mobile-lg) {
      max-width: 57.5%;
      padding: 14.1% 0;
    }
  }
}

.video--iphone {
  .video-container {
    max-width: 23.5%;
    padding: 11.6% 0;
    // media queries
    @include breakpoint($tablet-lg) {
      max-width: 27%;
      padding: 13% 0;
    }
    @include breakpoint($mobile-lg) {
      max-width: 36.7%;
      padding: 17.8% 0;
    }
  }
}
