@import 'sass-includes';

.case-study {
  width: calc(100vw - 17rem);
  z-index: 4;
  // media queries
  @include breakpoint($tablet-sm) {
    width: calc(100vw - 10rem);
  }
  @include breakpoint($mobile-lg) {
    width: 100vw;
  }

  .casestudy__name {
    // media queries
    @include breakpoint($mobile-lg) {
      margin-left: 6rem;
    }
    @include breakpoint($mobile-sm) {
      margin-left: 4.2rem;
    }
  }
}

.casestudy__next {
  background-color: $light-gray;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.casestudy__heading {
  max-width: 100rem;
  padding-top: 16rem;
  padding-bottom: 23rem;
  // media queries
  @include breakpoint($tablet-lg) {
    padding-top: 10rem;
    padding-bottom: 15rem;
  }
  @include breakpoint($mobile-sm) {
    padding-top: 6rem;
    padding-bottom: 9rem;
  }
}

.casestudy__text {
  max-width: 125rem;
  width: 80%;
  margin: auto;
  // media queries
  @include breakpoint($mobile-lg) {
    width: 100%;
  }
}

.casestudy__scroll {
  position: fixed;
  z-index: 10;
  bottom: 2.8rem;
  font-size: 5.8rem;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  left: 7.5rem;
  // media queries
  @include breakpoint($mobile-lg) {
    left: 2rem;
  }
}

.casestudy__arrows {
  font-size: 12rem;
}
