@import 'sass-includes';

.nav {
  background: $redshift;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;

  > .row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // media queries
    @include breakpoint($mobile-lg) {
      justify-content: flex-start;
    }
  }
}

_::-webkit-full-page-media, _:future, :root .nav__menu h1 {
  outline: solid 1px $white;
}

.nav .footer {
  position: absolute;
  bottom: 0;
  z-index: 99;
}

.nav__menu {
  margin-top: -15rem;
  text-align: right;
  // media queries
  @include breakpoint($mobile-lg) {
    text-align: left;
  }

  li {
    position: relative;
    cursor: pointer;

    // disable hover below mobile
    @include breakpoint($tablet-lg, min-width) {
      a:hover { color: $black; }
    }
  }
}
