@import 'sass-includes';

.nav {
  background: $redshift;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
}

_::-webkit-full-page-media, _:future, :root .nav__menu h1 {
  outline: solid 1px $white;
}

.nav .footer {
  position: absolute;
  bottom: 0;
  z-index: 99;
}

.nav__menu {
  text-align: right;
  transform: translateY(-8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  // media queries
  @include breakpoint($mobile-lg) {
    text-align: left;
  }

  li {
    position: relative;
    cursor: pointer;
    transform: translateY(4rem);
    transition: transform 0.18s ease-in-out, opacity 0.22s ease-in-out;

    // disable hover below mobile
    @include breakpoint($tablet-lg, min-width) {
      a:hover { color: $black; }
    }
  }
}
