// redshift red
$redshift: #FF2953;

// default colors
$white: #FFFFFF;
$black: #000000;

// text colors
$light-gray: #FAFAFA;
$medium-gray: #A2A1A2;
$body: #4A4A4A;

// section colors
$kaiser: #0DA6F3;
$norton: #F8B724;
$norton-light: rgba(248, 185, 50, 0.04);
$nexus: #31CCEF;
$nexus-light: rgba(17, 226, 215, 0.07);
$five: #4E4D57;
$careers: #EE05BA;
$pink: #FF005D;
$cranberry: #CA01AD;
$darkpurple: #11005E;
