// redshift red
$redshift: #FF2953;

// default colors
$white: #FFFFFF;
$black: #222222;

// text colors
$light-gray: #EEEEEE;

$medium-gray: #A3A3A3;
$background-gray: #F5F5F5;
$dark-grey: #222222;
$body: #222222;

// section colors
$kaiser: #0DA6F3;
$norton: #F8B724;
$norton-light: rgba(248, 185, 50, 0.04);
$nexus: #3AD283;
$nexus-light: rgba(17, 226, 215, 0.07);
$five: #936FEE;
$careers: #EE05BA;
// $pink: #FF005D;
$cranberry: #CA01AD;
$darkpurple: #11005E;
$lighttext: #424954;
$yumavore: #FF765C;
$ruby: #E4486F;
$indigo: #BF4498;
$plum: #B144A5;
