@import 'sass-includes';

.pink-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $redshift;
  display: flex;
  align-items: center;
  transform: translateX(calc(100% + 1px));
  z-index: 2;
  // opacity: 0;
}

.pinkhover__img {
  z-index: 1;
}

.pink-hover .pink-info {
  color: $white;
  padding: 0 3rem;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  top: 0;
  flex-direction: column;
  justify-content: center;
  // media queries
  @include breakpoint($desktop-sm) {
    padding: 0 3rem;
  }
  @include breakpoint($mobile-sm) {
    padding: 0 2rem;
  }
}

.right-arrow {
  position: absolute;
  right: 2rem;
  bottom: 4.8rem;
  width: 5rem;
}
